.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
		/* Text box styles */
		.text-box {
			width: 55em;
			border-radius: 10px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
			padding: 40px;
			margin-right: 1em;
			float: left;
			background-color: #f1f1f1;
		}

		/* Image styles */
		.image {
            
    scale: 1.0;
    border-radius:10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		}



		

  @import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
	box-sizing: border-box;
}

    body {
        font-family: 'Langar', cursive;
        background-image: url("../images/imgowo.jpg");
        background-size: cover;
				  font-size: 16px;
		  line-height: 1.5;
		  color: #f5efef;
    }
	
	img{
		vertical-align: middle;
	}


		.container{
			display: flex;
			flex-direction: row;
		}

		.container-ld {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: calc(100vh - 20px - 40px); /* subtract footer height and container padding */
			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.7);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
			padding: 20px;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		h1 {
			font-size: 36px;
			margin-bottom: 20px;
			text-align: center;
			color: #333;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			text-align: justify;
			color: #333;
			margin-bottom: 20px;
		}

		.button {
			display: inline-block;
			padding: 10px 20px;
			background-color: #007bff;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			transition: background-color 0.3s ease-in-out;
		}

		.button:hover {
			background-color: #0062cc;
		}

		.footer {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 20px;
			background-color: #333;
			color: #fff;
			font-size: 14px;
		}

		.footer p {
			margin: 0;
            color: #fff;
		}
        		
		body {
		  font-family: Arial, sans-serif;

		}

		a {
		  text-decoration: none;
		  color: #fcf9f9;
		}

		nav ul {
		  list-style: none;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		}

		nav ul li {
		  margin-right: 1rem;
		}

		nav ul li:last-child {
		  margin-right: 0;
		}

		nav ul li a {
		  font-weight: bold;
		}

		main {
		  max-width: 2200px;
		
		}